@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  box-sizing: border-box;
  scrollbar-width: none;
  font-family: 'Alata', sans-serif;
}

body {
  margin: 0;
  max-width: 450px;
  min-width: 375px;
  overflow-x: hidden;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
}
ul button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: .5rem;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background-image: url(./images/mobile/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 70vh;
  align-items: center;
}

#upperHeader {
  display: flex;
  width: 100%;
}

#menuButton {
  background: none;
  border: none;
  height: 6rem;
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

#menuCloseButton {
  background: none;
  border: none;
  height: 6rem;
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

#menu {
  transition: all 1s ease;
  transform: translateX(100%);
  width: 100%;
  background-color: black;
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  height: 100%;
}

#menu nav{
    margin-top: 5rem;
}

.logo {
  cursor: pointer;
  margin-top: 2rem;
  margin-left: 1rem;
}

.hero {
  color: white;
  border: 0.1rem solid white;
  width: 80%;
  margin-top: 6rem;
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  min-height: auto;
}

footer {
  background-color: black;
  color: white;
  padding: 1em;
  display: grid;
  grid-template-areas:
    "logo"
    "fl"
    "sml"
    "rights";
  justify-items: center;
  gap: 1em;
  padding-bottom: 3rem;
}

#lowerLogo {
  grid-area: logo;
}

#footerLinks {
  grid-area: fl;
}

#rights {
  grid-area: rights;
  color: gray;
}

#footerLinks ul {
  text-align: center;
  padding: 0;
  line-height: 2;
}

#socialMediaLinks {
  display: flex;
  gap: 1rem;
  place-self: center;
  grid-area: sml;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* |||||||||||||||||||||||||||||||||||||||||||HOME||||||||||||||||||||||||||||||||||||||||||||| */

.firstSec,
.secondSec {
  padding: 2rem;
  max-width: 100%;
  text-align: center;
}

.firstSec h2{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
}

.firstSec p{
    padding-inline: 1rem;
    color: gray;
}

#interactiveImg img {
  margin-top: 3rem;
  width: 100%;
}

.secondSec {
  display: grid;
  gap: 2rem;
  grid-template-areas: 
  "heading"
  "creationWrapper"
  "seeAllButton";
}
#heading{
    grid-area: heading;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
}

#seeAllButton{
    grid-area: seeAllButton;
    width: 10rem;
    place-self: center;
    text-transform: uppercase;
    background: none;
    border: .2rem solid black;
    font-size: 1rem;
    letter-spacing: .2rem;
    padding: .5rem;
    cursor: pointer;
}

#creationWrapper{
    grid-area: creationWrapper;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#creationWrapper .box{
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 7rem;
    color: white;
    display: flex;
    align-items: end;
    padding: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: start;
}

#creationWrapper .box:nth-child(1){
    background-image: url(./images/mobile/image-deep-earth.jpg);
}
#creationWrapper .box:nth-child(2){
    background-image: url(./images/mobile/image-night-arcade.jpg);
}
#creationWrapper .box:nth-child(3){
    background-image: url(./images/mobile/image-soccer-team.jpg);
}
#creationWrapper .box:nth-child(4){
    background-image: url(./images/mobile/image-grid.jpg);
}
#creationWrapper .box:nth-child(5){
    background-image: url(./images/mobile/image-from-above.jpg);
}
#creationWrapper .box:nth-child(6){
    background-image: url(./images/mobile/image-pocket-borealis.jpg);
}
#creationWrapper .box:nth-child(7){
    background-image: url(./images/mobile/image-curiosity.jpg);
}
#creationWrapper .box:nth-child(8){
    background-image: url(./images/mobile/image-fisheye.jpg);
}
